body {
  text-align: center;
  background-color: moccasin;
}

img {
  max-width: 30%;
  margin: 30px auto;
  border-radius: 10px;
  display: block;
}

.page-link {
  margin: 0 30px;
  color: cadetblue;
}

.email-link {
  color: cornflowerblue;
}
